body {
    padding: 0px;
    margin: 0px;
    font-family: 'Nunito', sans-serif;
}
/** navbar css**/

ul {
    list-style-type: none;
}
.navbar-container img{
    width: 120px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
a {
    text-decoration: none;
}

.nav-one {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}

.nav-two {
    display: flex;
    flex-direction: row;
    margin-right: 20px
}

.nav-item {
    margin: 25px 50px 50px 0px;
}

.nav-button a{
    color: white;
}

.nav-button {
    border-style: none;
    background-color: #189494;
    padding: 10px 30px;
    border-radius: 20px;
}

.nav-button-container {
    margin-top: 15px;
}
/* header */


body
{
    width: 100%;
    height: 100vh;
    background-color:rgb(255, 255, 255);

}
.line
{
    width: 100%;
}
.sunset
{
    display: inline-block;
    border: 1px solid rgb(221, 212, 212);
   
    padding: 12px 12px 6px 13px;
    margin: 15px;
    margin-left: 20px;

    width:300px; 
    height: 60px;
    
    border-radius: 15px;
}
.sun
{ 
    float: right;
    display: inline-block;
    width:55px;
    margin: -5px 0px 0px 0px;

}
.search-div
{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
 
}
.search-input
{
    width: 40%;
    border: 1.5px solid red;
    border-radius: 19px;
    border-color: rgb(166, 156, 156);
    padding: 10px 0px 8px 45px;

    box-shadow: 3px 3px 30px rgba(210, 196, 196, 0.5);

    margin-left: -35px;
}

.jobs
{
    display: inline-block;
    border: 2px solid red;
    height: 50%;
    width: 30%;
}
.details
{
    display: inline-block;
    border: 2px solid blue;
    height: 50vh;
    width: 65%;
}
.job-container
{
    margin-top:20px ;
    display: flex;
    background-color: rgb(255, 255, 255);

    justify-content: space-between;

}
.job-list
{
    background-color: rgb(255, 255, 255);
    width: 35%;


    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.job1
{

    display: flex;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    
    box-shadow: 3px 3px 30px rgba(141, 66, 66, 0.2);

    padding: 18px 5px 0px 10px;
    height: 360px;
    margin: 25px 45px 0px 25px;
}
.job-details
{
    background-color: rgb(255, 255, 255);
    flex: 1;
    margin: 20px 35px 1px 15px;

    border-radius: 10px;

    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    
    box-shadow: 3px 3px 30px rgba(141, 66, 66, 0.5);

    margin: 25px 35px 1px 15px;
}

.job-pic-div
{
    display: inline-block;
    width: 70px;
    vertical-align: top;
} 
.job-pic
{
    width: 50px;
    border-radius: 25px;
    margin: 3px 0px 0px 5px;
}      
.job-name
{

    display: inline-block;
    margin: 5px 0px 0px -3px;
    
    width: 250px;

    color: rgb(178, 39, 39);
    
    font-weight: bold;
}

.btn {
    border: none;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
	border-radius: 2px;

    padding: 16px 15px;
    margin-left: -45px;
    margin-top: 16px;

    text-shadow: 1px 1px 1px rgba(255, 15, 15, 0.14);
    text-transform: uppercase;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2);
}
.status
{
    color: rgb(88, 60, 60);
    padding-top: 28px;
    font-size: 15px;

    height: 220px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.btn1
{
    border: none;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
	border-radius: 2px;

    width: 450px;

    padding: 16px 15px;
    margin-left: 45px;
    margin-top: 16px;

    text-shadow: 1px 1px 1px rgba(255, 15, 15, 0.14);
    text-transform: uppercase;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2);

}

.details-top
{
    color: blue;
}
.description
{
    border: 1px solid red;

    margin: 10px 17px;

    text-align: justify;
}


/*footer*/
/** footer style **/
footer {
    margin-top: 50px;
    background-color: #F1F1F1;
    padding-bottom: 10px;
}
.upper-footer-container {
    display: flex;
    flex-direction: row;
}

.bottom-site-icon img {
    width: 150px;
    margin-left: 65px;
}

.left-section {
    width: 30%;
    margin-top: 40px;
    margin-bottom: 20px;
}
.right-footer-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
    margin-top: 40px;
    margin-bottom: 20px;
}

.footer-social-media, .subscribe{
    margin-left: 15%;
}

.footer-social-media i {
    font-size: 1.5rem;
    margin-left: 15px;
}

.subscribe-input {
    border-style: none;
    background-color: rgb(187, 186, 186);
    padding: 18px 45px 18px 45px;
    border-radius: 50px;
    position: relative;
}

.btn-subscribe {
    border-style: solid;
    background-color: rgb(187, 186, 186);
    padding: 15px 17px 18px 17px;
    border-radius: 50px;
    position: absolute;
    left: 230px;
}

.footer-title {
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.footer-item {
    line-height: 30px;
}

hr {
    width: 80%;
    border: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 50px;
}


.footer-last {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media only screen and (max-width:800px){

    
.target-container{

    display: grid;
    grid-template-columns:0fr;
    grid-template-rows: 0.5fr 1.5fr;
    grid-row-gap: 1em;
    align-items: start;
    /* color: rgb(62, 170, 178); */
    margin-bottom: 30px;
}

.vision-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0px;
    align-items: start;
    justify-items: center;
    /* color: rgb(62, 170, 178); */
}

.last-container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    align-items: center;
    /* color: rgb(62, 170, 178); */
    margin-left: 20px;
    text-align: center;
}
    
}