body {
    width: 100%;
    padding: 0px;
    margin: 0px;
    font-family: 'Nunito', sans-serif;
}
/** navbar css**/

ul {
    list-style-type: none;
}
.navbar-container img{
    width: 120px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 17px;
}
.nav-two {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 17%;
    align-items: center;
    margin-right: 30px;
    margin-bottom: 4px;
}

.nav-icon {
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}

.nav-one {
    display: flex;
    flex-direction: row;
    margin-left: 3px;
    color: rgb(27, 6, 6);
}
.nav-one a{
    color: rgb(27, 6, 6);
    text-decoration: none;
}
.nav-one a:hover
{
    color: rgb(57, 142, 212);
    text-decoration: none;
}


.nav-two {
    display: flex;
    flex-direction: row;
    margin: 0px 25px;
}

.nav-item {
    margin: 35px 50px 50px 0px;
}

.nav-button a{
    color: white;
}

.nav-button {
    border-style: none;
    background-color: #c6ffff;
    padding: 10px 50px;
    border-radius: 0px;
 
}
.nav-button-container {
    margin-top: 4px;
}
/* header */


body
{
    width: 100%;
    height: 100vh;
    background-color:rgb(255, 255, 255);

}
.line
{
    width: 100%;
}
.sunset
{
    display: inline-block;
    border: 1px solid rgb(221, 212, 212);
   
    padding: 15px 12px 15px 16px;
    margin: 19px;
    margin-left: 55px;

    width:400px; 
    height: 75px;
    
    border-radius: 15px;
    font-size: 15px;
}
.sun
{ 
    float: right;
    display: inline-block;
    width:60px;
    margin: -3px 5px 0px 0px;

}
.search-div
{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
 
}
.search-input
{
    width: 40%;
    border: 1.5px solid red;
    border-radius: 19px;
    border-color: rgb(166, 156, 156);
    padding: 10px 0px 8px 45px;

    box-shadow: 3px 3px 30px rgba(233, 227, 227, 0.5);

    margin-left: -35px;
}

.jobs
{
    display: inline-block;
    border: 2px solid red;
    height: 50%;
    width: 30%;
}
.details
{
    display: inline-block;
    border: 2px solid blue;
    height: 50vh;
    width: 65%;
}
.job-container
{
    margin-top:20px ;
    display: flex;
    background-color: rgb(255, 255, 255);

    justify-content: space-between;
}
.job-list
{
    background-color: rgb(255, 255, 255);
    width: 35%;
    

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.job1
{
    display: flex;
    border-radius: 5px;
    background-color: rgb(252, 252, 252);
    
    box-shadow: 3px 3px 1px rgba(255, 255, 255, 0.993);

    padding: 15px 5px 0px 10px;
    height: 330px;
    margin: 25px 45px 0px 25px;
}
.job-details
{
    flex: 1;
    margin: 0px 35px 1px 15px;

    border-radius: 10px;

    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: #F1F1F1;
    
    box-shadow: 3px 3px 30px rgba(221, 213, 213, 0.5);

    margin: 25px 35px 1px 15px;
}

.job-pic-div
{
    display: inline-block;
    width: 70px;
    vertical-align: top;
} 
.job-pic
{
    width: 50px;
    border-radius: 5px;
    margin: 3px 0px 0px 5px;
}      
.job-name
{

    display: inline-block;
    margin: 5px 0px 0px -3px;
    
    width: 250px;

    color: rgb(112, 51, 51);
    
    font-weight: bold;
}

.btn {
    border: none;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
	border-radius: 2px;
    
    background-color: #189494;

    padding: 16px 15px;
    margin-left: -45px;
    margin-top: 16px;

    text-shadow: 1px 1px 1px rgba(255, 15, 15, 0.14);
    text-transform: uppercase;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2);
}
button:active {
    transform: scale(1.03);
  }
  
.status
{
    color: rgb(66, 52, 52);
    padding-top: 28px;
    font-size: 15px;

    height: 220px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.status1
{
    color: rgb(97, 67, 67);
    padding-top: 28px;
    font-size: 15px;

    height: 220px;
    width: 50vw;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.job2
{

    display: flex;
    border-radius: 5px;
    
    box-shadow: 3px 3px 30px rgba(255, 255, 255, 0.2);

    padding: 0px 5px 0px 10px;
    height: 310px;
    margin: 18px 45px 0px 25px;
}

.btn1
{
    border: none;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
	border-radius: 7px;
    background-color: #189494;
    color: rgb(255, 255, 255);
    
    width: 53%;
    

    padding: 16px 15px;
    margin-left: 25%;
    margin-top: 18px;

    text-shadow: 1px 1px 1px rgba(240, 207, 207, 0.14);
    text-transform: uppercase;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2);

}

@media screen and (max-width: 900px) {

    .job-list
    {
        background-color: rgb(255, 255, 255);
        width: 100%;
            
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }
    .job-details
    {
        width: 100%;

        border-radius: 10px;
    
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        background-color: #f3f3f3;
        
        box-shadow: 3px 3px 30px rgba(221, 213, 213, 0.5);
    
        margin: 55px 20px 1px 25px;
    }
    
    .btn1 {
        margin-left:35%;;
        width: 80%;

    }
    .job-container
    {

    width: 100%;
    margin-top:20px ;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
}
.job1
{
    display: flex;
    
    border-radius: 5px;
    background-color: rgb(252, 252, 252);
     
    box-shadow: 3px 3px 1px rgba(255, 255, 255, 0.993);

    padding: 15px 5px 0px 10px;
    height: 230px;
    margin: 25px 45px 0px 25px;
}
    
.nav-two {
    display: flex;
    flex-direction: row;
    margin: 5px 0px;

    padding: 5px;
    width: 200px;
    justify-content: space-between;
}
.nav-one a
{
    width: 10px;
}
.btn-subscribe
{
    display: none;
}

p.description
{
    width: 100%;
    margin: 45px 0px;

    text-align: justify;
}


/* left */
.status
{
    color: rgb(66, 52, 52);
    padding-top: 28px;
    font-size: 15px;
    width: 100%;
    height: 220px;

    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content:space-between;
}

}




.details-top
{
    margin: 0px;
    padding: 0px;
}
.description
{
    font-size: 14.5px;

    margin: 10px 17px;

    text-align: justify;
}


/*footer*/
/** footer style **/
footer {
    margin-top: 50px;
    background-color: #F1F1F1;
    padding-bottom: 10px;
}
.upper-footer-container {
    display: flex;
    flex-direction: row;
}

.bottom-site-icon img {
    width: 150px;
    margin-left: 65px;
}

.left-section {
    width: 30%;
    margin-top: 40px;
    margin-bottom: 20px;
}
.right-footer-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
    margin-top: 40px;
    margin-bottom: 20px;
}

.footer-social-media, .subscribe{
    margin-left: 15%;
}

.footer-social-media i {
    font-size: 1.5rem;
    margin-left: 15px;
}

.subscribe-input {
    border-style: none;
    background-color: rgb(187, 186, 186);
    padding: 18px 45px 18px 45px;
    border-radius: 50px;
    position: relative;
}

.btn-subscribe {
    border-style: solid;
    background-color: rgb(187, 186, 186);
    padding: 15px 17px 18px 17px;
    border-radius: 50px;
    position: absolute;
    left: 230px;
}

.footer-title {
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.footer-item {
    line-height: 30px;
}

hr {
    width: 95%;
    margin-top: 0px;
    border: 0.01px solid rgb(233, 218, 218);
    padding: 0.001px;
    background-color: black;
    border-radius: 50px;
}


.footer-last {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



@media only screen and (max-width:800px){


.target-container{

    display: grid;
    grid-template-columns:0fr;
    grid-template-rows: 0.5fr 1.5fr;
    grid-row-gap: 1em;
    align-items: start;
    /* color: rgb(62, 170, 178); */
    margin-bottom: 30px;
}

.vision-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0px;
    align-items: start;
    justify-items: center;
    /* color: rgb(62, 170, 178); */
}

.last-container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    align-items: center;
    /* color: rgb(62, 170, 178); */
    margin-left: 20px;
    text-align: center;
}
    
}