body 
{
    width: 100vw;
    padding: 0px;
    margin: 0px;
    font-family: 'Nunito', sans-serif;

    zoom: 0.95;
}
/** navbar css**/

ul 
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.navbar-container img{
    width: 120px;
}

nav {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;

    padding: 0;
    margin: 0;

}
.nav-two {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 17%;
    align-items: center;
    margin-right: 0 30px 0 0;
    padding: 0;
    
}

.nav-icon {
    font-size: 0.6rem;
}

a {
    text-decoration: none;
}

.nav-one {
    display: flex;
    flex-direction: row;
    margin-left: 3px;
    color: rgb(27, 6, 6);

    margin: 4px 0px 0px 0px;
    padding: 0;

}
.nav-one a{
    color: rgb(27, 6, 6);
    text-decoration: none;
}
.nav-one a:hover
{
    color: rgb(57, 142, 212);
    text-decoration: none;
}


.nav-two {
    display: flex;
    flex-direction: row;
    margin: 0px 20px;
    padding: 0px;
}

.nav-item {
    margin: 25px 50px 10px 0px;
}

.nav-button a{
    color: white;
}

.nav-button {
    border-style: none;
    background-color: #c6ffff;
    padding: 10px 50px;
    border-radius: 0px;
 
}
.nav-button-container {
    margin-top: 0px;
}
.navbar-container.nav-scrolled {
    background-color: #f4fcfc;
}
/*  */
body
{
    width: 100%;
    height: 100vh;
    background-color:rgb(255, 255, 255);

}
.line
{
    width: 80%;
}
.sunset
{
    display: inline-block;
    border: 1px solid rgb(221, 212, 212);
   
    padding: 10px 12px 15px 16px;
    margin: 3px 0px 0px 40px;
    width:350px; 
    height: 65px;
    
    border-radius: 15px;
    font-size: 15px;
    box-shadow: 3px 3px 15px rgba(206, 53, 53, 0.3);

}
.sun
{ 
    float: right;
    display: inline-block;
    width:45px;
    margin: 0px 5px 0px 0px;

}
.search-div
{
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: 20px;
 
}
.search-input
{
    width: 30%;
    border: 1.5px solid red;
    border-radius: 19px;
    border-color: rgb(166, 156, 156);
    padding: 10px 0px 8px 45px;
 
    font-size: larger;
    margin-left: -35px;
}
.sort
{
    width: 125px;
    margin-left:20px;
    padding: 10px 0px 8px 5px;

    border-radius: 19px;
    border: 1.5px solid red;
    border-color: rgb(166, 156, 156);

    text-align: center;
    font-size: larger;
}


.jobs
{
    display: inline-block;
    border: 2px solid red;
    height: 50%;
    width: 30%;
    font: 12px;
}
.details
{
    display: inline-block;
    border: 2px solid blue;
    height: 50vh;
    width: 65%;
    
}
.job-container
{
    margin: 5px 0 30px 0 ;
    
    display: flex;
    background-color: rgb(255, 255, 255);

    justify-content: space-between;
}
.job-list
{
    background-color: rgb(255, 255, 255);
    width: 35%;
    max-height: 995px;
    overflow-y: scroll;   
    overflow-x: hidden;   

    font: 12px;

    display: flex;
    flex-direction: column;
    
}
.job1
{
    display: flex;
    border-radius: 25px;
    background-color: #f6feff;
    
    
    padding: 15px 5px 0px 10px;
    height: 330px;
    margin: 25px 45px 0px 25px;
    font: 12px;

}
.job-details
{
    flex: 1;
    margin: 0px 35px 1px 15px;

    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: #eefafa;
    
    margin: 25px 35px 1px 15px;
    font: 12px;

}

.job-pic-div
{
    display: inline-block;
    width: 70px;
    height: 70px;
    vertical-align: center;
} 
.job-pic
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px 0px 0px 5px;
}      
.job-name
{

    display: inline-block;
    margin: 5px 0px 0px -3px;
    
    width: 250px;

    color: rgb(112, 51, 51);
    
    font-weight: bold;
    font: 12px;

}

.btn 
{
    border: none;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
	border-radius: 2px;
    
    background-color: #189494;

    padding: 16px 15px;
    margin-left: 45px;
    margin-top: 16px;

    text-shadow: 1px 1px 1px rgba(255, 15, 15, 0.14);
    text-transform: uppercase;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2);
}
.search-btn
{
    min-width: 10%;
    max-width: 15%;
    border-radius: 19px;
    margin-top: 0px;
    height: 40px;
    color: white;
    padding: 10px 10px 10px 10px;
}
button:active {
    transform: scale(1.03);
  }
  
.status
{
    color: rgb(0, 0, 0);
    padding-top: 18px;
    font-size: 15px;

    height: 220px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.status1
{
    color: rgb(0, 0, 0);
    padding-top: 28px;
    font-size: 15px;

    height: 220px;
    width: 50vw;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}


.job2
{

    display: flex;
    border-radius: 5px;
    
    box-shadow: 3px 3px 30px rgba(255, 255, 255, 0.2);

    padding: 0px 5px 0px 10px;
    height: 310px;
    margin: 18px 45px 0px 25px;
}

.btn1
{
    border: none;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
	border-radius: 7px;
    background-color: #139e9e;
    color: rgb(255, 255, 255);
    
    width: 50%;
    

    padding: 16px 15px;
    /* margin-left: 18%; */
    align-self: center;
    margin-top: 18px;

    text-shadow: 1px 1px 1px rgba(240, 207, 207, 0.14);
    text-transform: uppercase;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2);

}
button:focus {
    outline: none;
    border: none;
    
  }
button:hover{
    
    background-color: #378888;
}  

@media screen and (max-width: 900px) {

    .job-list
    {
        background-color: rgb(255, 255, 255);
        width: 100%;
            
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }
    .job-details
    {
        width: 90%;

        border-radius: 10px;
    
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        background-color: #f3f3f3;
        
        box-shadow: 3px 3px 30px rgba(221, 213, 213, 0.5);
    
        margin: 55px 20px 1px 25px;
    }
    
    .btn1 {
        margin-left:25%;;
        width: 90%;
    }
    .job-container
    {

    width: 100%;
    margin-top:0px ;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
}
.job1
{
    display: flex;
    
    border-radius: 5px;
     
    box-shadow: 3px 3px 1px rgba(255, 255, 255, 0.993);

    padding: 15px 5px 0px 10px;
    height: 230px;
    margin: 25px 45px 0px 25px;
}
    
.nav-two {
    display: flex;
    flex-direction: row;
    margin: 0px 0px;

    padding: 5px;
    width: 200px;
    justify-content: space-between;
}
.nav-one a
{
    width: 10px;
    margin: 0;
}
.btn-subscribe
{
    display: none;
}

p.description
{
    width: 100%;
    color: rgb(59, 42, 42);
    margin: 15px 18px;

    text-align: justify;
}


/* left */
.status
{
    color: rgb(66, 52, 52);
    padding-top: 28px;
    font-size: 15px;
    width: 100%;
    height: 220px;

    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content:space-between;
}
}

@media screen and (max-width: 550px) {

    body{
        background-color: rgb(255, 255, 255);
        max-width: 100vw;
        margin: 0;
        padding: 0;
    }    
    hr{
        width: 100%;
    }
    .job-container{
        width: 550px;
        padding: 0;
        margin-left: -25px;
    }
    .job-details
    {
        width: 480px;
        padding: 0;

    }
    p.description
    {
        margin-top: 25px;
    }    
    footer{
        width: 500px;
    }

}




.details-top
{
    margin: 0px;
    padding: 0px;
}
.description
{
    font-size: 15px;

    margin: 10px 17px;

    text-align: justify;
}



/*footer*/
/** footer style **/
footer {
    background-color: #F1F1F1;
    padding-bottom: 10px;
}
.upper-footer-container {
    display: flex;
    flex-direction: row;
}

.bottom-site-icon img {
    width: 150px;
    margin-left: 65px;
}

.left-section {
    width: 30%;
    margin-top: 40px;
    margin-bottom: 20px;
}
.right-footer-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
    margin-top: 40px;
    margin-bottom: 20px;
}

.footer-social-media, .subscribe{
    margin-left: 15%;
}

.footer-social-media i {
    font-size: 1.5rem;
    margin-left: 15px;
}

.subscribe-input {
    border-style: none;
    background-color: rgb(187, 186, 186);
    padding: 18px 45px 18px 45px;
    border-radius: 50px;
    position: relative;
}

.btn-subscribe {
    border-style: solid;
    background-color: rgb(187, 186, 186);
    padding: 15px 17px 18px 17px;
    border-radius: 50px;
    position: absolute;
    left: 230px;
}

.footer-title {
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.footer-item {
    line-height: 30px;
}

hr {
    width: 80%;
    border: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 50px;
}


.footer-last {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* scroll-bar */

::-webkit-scrollbar {
    width: 4px;
  }
::-webkit-scrollbar-thumb {
    background-color: #6c8383;;
    border-radius: 15px;
  }
::-webkit-scrollbar-thumb:hover {
    background: #842e42;
    width: 6px;
}
  

.Available-jobs
{
 
    align-self: center;
    align-items: center;
    position: absolute;
    justify-content:center ;
    left: 14%;
    font-size: 1.2rem;
    margin-top: 64px;    
    z-index: 111;
  }