body {
    padding: 0px;
    margin: 0px;
    font-family: 'Nunito', sans-serif;
    position: relative
}

/** utility classes **/
.shadow-b-none {
    box-shadow: 0rem 0rem 1.3rem rgba(0, 0, 0, 0.175) !important;
}

/** ***/
/** navbar css**/

ul {
    list-style-type: none;
}

.navbar-container img {
    width: 120px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: #000;
}

nav ul li a:hover {
    color: #189494;
}

.nav-one {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    align-items: center;
}

.nav-item {
    margin: 25px 50px 50px 0px;
}

.nav-button-container {
    margin-top: 15px;
}


.nav-two {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 15%;
    align-items: center;
    margin-right: 30px;
    margin-bottom: 48px;
}

.nav-icon {
    font-size: 1.4rem;
}

/** end navbar css **/
/** main **/

.profile-image-container {
    width: 210px;
    margin: 0 auto;
    height: 210px;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
}

.profile-picture-input, .profile-picture-upload-btn {
    display: none;
    visibility: hidden;
}

.profile-btn-container:hover {
    background-color: #189494;
    color: #fff;
    cursor: pointer;
}

textarea {
    height: 155px;
}

.save-btn {
    background-color: #189494 !important;
    border-color: #189494 !important;
}

.save-btn:hover {
    background-color:  #189494db !important;
    border-color: #189494db !important;
}

/**end main **/

/** resume **/

.pin {
    background-color: #1894941c;
    color: #189494;
}

.add-btn {
    color: #fff;
    background-color: #189494;
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
}

.opt {
    display: none;
    visibility: hidden;
}

.is-clicked {
    background-color: #189494;
    color: #fff;
}

.is-visible {
    display: grid;
    visibility: visible;
    transition: all 0.3s ease;
}

.box-cn {
    position: relative;
}
/** dialog **/
.background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #2d2d2d91;
    z-index: 999;
    display: none;
}
.language-dialog, .skill-dialog, .education-dialog, .employment-dialog{
    background-color: #fff;
    position: absolute;
    z-index: 1000;
    width: 80%;
    border-radius: 10px;
    display: none;
}

.dialog-visible {
    display: block;
}

.language-dialog hr, .skill-dialog hr, .education-dialog hr, .employment-dialog hr{
    margin: unset;
    padding: unset;
}
.language-input-container, .skill-input-container {
    padding-left: 20px;
    padding-right: 20px;
    overflow-y: scroll;
    height: 177px;

}

.language-input-container input, .skill-input-container input{
    display: block;
    margin-top: 15px;
}

.language-input-container button, .skill-input-container button{
    display: block;
}

.language-form, .skill-form{
    display: none;
}

.language-dialog hr, .skill-dialog hr, .education-dialog hr, .employment-dialog hr {
    width: 100%;
}

.nav-header {
    font-size: 1.5rem;
    padding-left: 1rem;
}

.close-btn-container i, .skill-close-btn-container i, .education-close-btn-container i, 
.employment-close-btn-container i {
    font-size: 2.5rem;
    padding-right: 1rem;
}

.close-btn-container:hover, .skill-close-btn-container:hover, .education-close-btn-container:hover,
.employment-close-btn-container:hover {
    cursor: pointer;
}

.lang-selected-items, .skill-selected-items {
    padding: 30px;
}

.select-btn {
    width: 100%;
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
}

.save-btn-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.save-lng, .save-skill, .save-education, .save-employment {
    color: #fff;
    background-color: #189494;
    border: none;
}


.degree-type, .field, .position-input, .company-input{
    width: 73%;
}

.institute-input {
    width: 100%;
}

.institute-input-container {
    height: 130px;
    overflow-y: scroll;
    width: 81%;
}

.institute-suggest {
    width: 100%;
    background-color: transparent;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
}

.text {
    font-size: 1.1rem;
}

.enrolled-date, .graduated-date, .started-date, .end-date {
    width: 33%;
}

/** dialog **/

.resume-btn {
    background-color: #189494 !important;
    border: unset;
    color: #fff;
}

.resume-upload-button {
    display: none;
}

.add-btn {
    margin: 0 auto;
}

.resume-delete-btn i, .resume-edit-btn i {
    border-style: solid;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    padding: 6px;
    color: #189494;
    border-color: #189494;
    border-width: 1px;
    visibility: hidden;
    transition: all 0.3s ease-in;
}


.education-view:hover .resume-delete-btn i, 
.education-view:hover .resume-edit-btn i {
    visibility: visible;
}

.employment-view:hover .resume-delete-btn i, 
.employment-view:hover .resume-edit-btn i {
    visibility: visible;
}

.resume-delete-btn i:hover , .resume-edit-btn i:hover {
    background-color: #189494;
    color: #fff;
    cursor: pointer;
}

.operation-type input {
    display: none;
}
/** footer style **/
footer {
    background-color: #F1F1F1;
    padding-bottom: 10px;
}
.upper-footer-container {
    display: flex;
    flex-direction: row;
}

.bottom-site-icon img {
    width: 150px;
    margin-left: 65px;
}

.left-section {
    width: 30%;
    margin-top: 40px;
    margin-bottom: 20px;
}
.right-footer-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
    margin-top: 40px;
    margin-bottom: 20px;
}

.footer-social-media, .subscribe{
    margin-left: 15%;
}

.footer-social-media i {
    font-size: 1.5rem;
    margin-left: 15px;
}

.subscribe-input {
    border-style: none;
    background-color: rgb(187, 186, 186);
    padding: 18px 45px 18px 45px;
    border-radius: 50px;
    position: relative;
}

.btn-subscribe {
    border-style: solid;
    background-color: rgb(187, 186, 186);
    padding: 15px 17px 18px 17px;
    border-radius: 50px;
    position: absolute;
    left: 230px;
}

.footer-title {
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.footer-item {
    line-height: 30px;
}

hr {
    width: 80%;
    border: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 50px;
}


.footer-last {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.resume-upload {
    display: none;
}

.upload-file-btn {
    background-color: transparent;
    border-style: dashed;
    border-radius: 15px;
    cursor: pointer;
    border-width: 1px;
    border-color: #d6d5d5;
}

.upload-file-icon {
    color: #189494;
    font-size: 4rem;
}

.file-name {
    font-size: 1.3rem;
    color: #189494;
}

.saved-jobs {
    background-color: #fff;
}

.job {
    height: 177px;
}

.pagination-row {
    width: 50%;
    overflow-x:scroll;
}

.pagination-style {
    border-style: solid;
    border-width: 1px;
    border-color: #A09D9D;
    padding: 3px 10px;
    cursor: pointer;
}